/* .App {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: #8696a8;
  box-sizing: border-box;
} */
/* .container {
  display: flex;
  margin-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  Justify-content: center;
} */

/* .card {
  margin:10px;
  padding: 10px;
  max-width: 25%;
  cursor: pointer;
  border-radius: 2%;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);

} */

/* .text{
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: #8696a8;
  text-decoration: none;

} */

/* .search{
margin-top: 30px;
padding-top: 30px;
font-family: Helvetica, sans-serif;
color:#fff ;
font-size: 1.3em;
} */
/* ********************************************************************************** */
